body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    /*margin-top: 250px;*/
    padding: 3em;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    color: #555;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 2em;
    font-size: 2.5em;
}

button {
    background-color: #A5D6A7;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    color: #333;
    font-size: 1.1em;
}

button:hover {
    background-color: #81C784;
    transform: translateY(-3px);
}

table {
    width: 100%;
    font-size: 20px;
    font-weight: bolder;
    margin: 2em 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

input[type="text"] {
    width: 60%;
    padding: 0.8em;
    margin: 2em 0;
    transition: border 0.3s, transform 0.3s;
    font-size: 1.1em;
}

input[type="text"]:focus {
    border: 2px solid #A5D6A7;
    transform: translateY(-2px);
}

tr:hover {
    background-color: #E1F5FE;
}
.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
}
th.asc::after {
    content: ' ⬆';
}

th.desc::after {
    content: ' ⬇';
}

input[type="text"] {
    width: 50%; /* 폭 줄임 */
    padding: 0.8em;
    margin-right: 1em;
    transition: border 0.3s, transform 0.3s, width 0.3s;
    font-size: 1.1em;
    border: 2px solid #E0E0E0;
}

input[type="text"]:focus {
    border: 2px solid #A5D6A7;
    transform: scale(1.02);
    width: 55%; /* 포커스될 때 약간 폭 늘림 */
}

button {
    background: linear-gradient(45deg, #3498db, #8e44ad, #e74c3c); /* 푸른색 -> 보라색 -> 핑크색 */
    border: none;
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.4s, transform 0.3s, box-shadow 0.3s;
    color: #FFFFFF; /* 텍스트 색상을 흰색으로 */
    font-size: 1.1em;
    font-weight: bold;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
    margin-left: 20px; /* 좌우 마진 추가로 깔끔한 간격 조정 */
    width: auto; /* 버튼의 너비를 자동으로 설정 */
    white-space: nowrap; /* 텍스트가 버튼 너비를 초과할 경우 줄바꿈 되지 않게 설정 */
}

button:hover {
    background: linear-gradient(90deg, #3498db, #8e44ad, #e74c3c); /* 호버 상태에서 그라데이션 방향 변경 */
    transform: translateY(-10px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: scale(0.98);
}






