<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
    <link rel="stylesheet" href="/css/find.css">
    <style>
        .all{
            margin-top: 250px;
        }
    </style>
</head>
<body>
<div th:replace="~{component/nav :: nav}"></div>
<div class="all">
</div>
<div class="container mt-4 mb-5">
    <div class="row justify-content-center">
        <form class="card me-4 col-md-8 pb-5" name="frm">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mt-5">
                    <h3>회원가입</h3>
                </div>
            </div>
            <div class="row mt-4 ms-5">
                이메일
            </div>
            <div th:if="${kakao==1}">
                <div class="row justify-content-center">
                    <div class="col-10 me-5">
                        <div class="input-group">
                            <input type="hidden" name="kakao" value="1">
                            <input class="form-control" type="text" name="memberEmail" autocomplete='off' maxlength='16' th:value="${memberEmail1}" onblur="kakao_fn(), check_fn()" >
                            <span class="input-group-text">@</span>
                            <input type="text" class="form-control" list="emailL" maxlength='16' name="email" autocomplete="off" th:value="${memberEmail2}" onblur="kakao_fn(), check_fn()">
                            <datalist id="emailL">
                                <option value="naver.com">
                                <option value="gmail.com">
                                <option value="">
                            </datalist>
                            <div id="kakao-button">
                            </div>
                            <input type="button" value="이메일인증" class="ms-3 btn btn-secondary" onclick="confirm_fn()" id="kakao-email" style="display:none;">
                     </div>
                        <p class="mt-2" name="email-check"></p>
                        <div id="kakao-hidden">
                        </div>
                     </div>
            </div>
            </div>

            <div th:unless="${kakao==1}">
            <div class="row justify-content-center">
                <div class="col-10 me-5">
                    <div class="input-group">
                        <input class="form-control" type="text" name="memberEmail" autocomplete='off' maxlength='16' onblur="check_fn()">
                        <span class="input-group-text">@</span>
                        <input type="text" class="form-control" list="emailList" maxlength='16' name="email" autocomplete="off" onblur="check_fn()">
                        <datalist id="emailList">
                            <option value="naver.com">
                            <option value="gmail.com">
                            <option value="">
                        </datalist>
                        <input type="button" value="이메일인증" class="ms-3 btn btn-secondary" onclick="confirm_fn()">
                    </div>
                    <p class="mt-2" name="email-check"></p>
                </div>
            </div>
            <div class="input-group row">
                <div class="col-4 ms-5 mt-3">
                <input type="text" class="form-control" name="confirm" placeholder="인증번호" onblur="con_fn()">
                    <p class="mt-3" id="confirm-check"></p>
                </div>
            </div>

            </div>

            <div th:if="${kakao==1}" style="display: none;" id="kakao-pw">
                <div class="input-group row">
                    <div class="col-4 ms-5 mt-3">
                        <input type="text" class="form-control" name="confirm" placeholder="인증번호" onblur="con_fn()">
                        <p class="mt-3" id="confirm-check"></p>
                    </div>
                </div>
                <div class="row mt-3 ms-5">
                    비밀번호
                </div>
                <div class="row">
                    <div class="col-8 ms-5">
                        <div class="input-group">
                            <input type="password" class="form-control" maxlength="25" name="memberPassword" onblur="pw_fn()">
                        </div>
                        <p class="mt-2" id="pw-check"></p>
                    </div>
                </div>
                <div class="row mt-3 ms-5">
                    비밀번호 재확인
                </div>
                <div class="row">
                    <div class="col-8 ms-5">
                        <div class="input-group">
                            <input type="password" class="form-control" maxlength="25" name="memberPass" onblur="ps_fn()">
                        </div>
                        <p class="mt-2" id="ps-check"></p>
                    </div>
                </div>
            </div>

                <div th:unless="${kakao==1}">
            <div class="row mt-3 ms-5">
                비밀번호
            </div>
            <div class="row">
                <div class="col-8 ms-5">
                    <div class="input-group">
                        <input type="password" class="form-control" maxlength="25" name="memberPassword" onblur="pw_fn()">
                    </div>
                    <p class="mt-2" id="pw-check"></p>
                </div>
            </div>
            <div class="row mt-3 ms-5">
                비밀번호 재확인
            </div>
            <div class="row">
                <div class="col-8 ms-5">
                    <div class="input-group">
                        <input type="password" class="form-control" maxlength="25" name="memberPass" onblur="ps_fn()">
                    </div>
                    <p class="mt-2" id="ps-check"></p>
                </div>
            </div>

            </div>


            <div class="row mt-3 ms-5">
                닉네임
            </div>
            <div class="row">
                <div class="col-8 ms-5">
                    <div class="input-group">
                        <input type="text" class="form-control" maxlength="25" name="nickName" onblur="nick_fn()" th:value="${nickName}">
                    </div>
                    <p class="mt-2" id="nick-check"></p>
                </div>
            </div>
            <div class="row mt-3 ms-5">
                이름
            </div>
            <div class="row">
                <div class="col-8 ms-5">
                    <div class="input-group">
                        <input type="text" class="form-control" maxlength="25" name="memberName" onblur="name_fn()">
                    </div>
                    <p class="mt-2" id="name-check"></p>
                </div>
            </div>
            <div class="row mt-3 ms-5">
                핸드폰번호
            </div>
            <div class="row">
                <div class="col-8 ms-5">
                    <div class="input-group">
                        <input type="text" class="form-control" maxlength="11" name="memberMobile" oninput="isNumber(this);" placeholder="-를 제외하고 숫자만 입력해주세요" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="row mt-3 ms-5">
                주소
            </div>
            <div class="row">
                <div class="col-8 ms-5">
                    <div class="input-group">
                        <input type="text" class="form-control" maxlength="35" name="memberAddress">
                        <input type="button" value="주소찾기" class="ms-3 btn btn-secondary" onclick="sample_execDaumPostcode()">
                        <span id="guide" style="color:#999;display:none"></span>
                    </div>
                </div>
            </div>
            <div class="row mt-3 ms-5">
                생년월일
            </div>
            <div class="row">
                <div class="col-8 ms-5">
                    <div class="input-group">
                        <input type="date" class="form-control" maxlength="20" name="memberBirth">
                    </div>
                    <p class="mt-4" id="save-check"></p>
                </div>
            </div>
            <div class="row mt-3 ms-5">
                <div class="col text-center">
                    <input type="button" value="회원가입" class="btn btn-secondary" onclick="save_fn()">
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="modal_email" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">임시비밀번호 발급</h1>
            </div>
            <div class="modal-body row justify-contents-center">
                <div class="col-12 text-center"></div>
                <div class="MnAr--LoadingSpinner" id="button"></div>
                <div class="MnAr--LoadingComplete" id="rays">
                    <div class="MnAr--LoadingComplete__check"></div>
                </div>
                <div id="not-find" class="text-center" style="color: red">이메일 확인바람!</div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
<script th:inline="javascript">

    let number;

    let emailc = 1; // 이메일 인증용 변수
    let idc = 1;  // 이메일 중복용 변수
    let pwc =0;  //비번 재확인용 변수>
    let namec =0; // 이름 한글/영소대문자
    let nickc = 1; // 닉네임 중복용 변수


    const memberEmail1 = [[${memberEmail1}]];  // 카카오 이메일 체크용1
    const memberEmail2 = [[${memberEmail2}]]; // 카카오 이메일 체크용2
    let kakao = 1; // 카카오일땐 인증번호 X 용;


    kakao_fn();

    function kakao_fn () {
        const memberEmail3 = memberEmail1 + "@" + memberEmail2;  // 카카오 이메일체크용3
        const mEmail = document.querySelector("[name='memberEmail']").value;
        const email = document.querySelector("[name='email']").value
        const memberEmail = mEmail + "@" + email;
        console.log(memberEmail +"@" + memberEmail3)
        if(memberEmail3 != memberEmail){
            document.querySelector("#kakao-email").style.display = "block";
            let result = "";
            result += "<div>";
            result += "    <div class=\"input-group row mt-2\">";
            result += "        <div class=\"col-4\">";
            result += "            <input type=\"email\" class=\"form-control\" name=\"email\" placeholder=\"이메일\" onblur=\"email_fn()\">";
            result += "            <p class=\"mt-2\" id=\"email-check\"></p>";
            result += "        </div>";
            result += "    </div>";
            document.getElementById("kakao-hidden").innerHTML = result;
            document.querySelector("#kakao-pw").style.display = "block";
            kakao = 1;
        }else{
            kakao = 0;
            document.querySelector("#kakao-email").style.display = "none";
            document.querySelector("#kakao-pw").style.display = "none";
            document.getElementById("kakao-hidden").style.display ="none";
        }
    }

    function isNumber(item){
        item.value=item.value.replace(/[^0-9]/g,'');
    }


    check_fn();
    // 이메일 중복체크
    function check_fn () {
        const mEmail = document.querySelector("[name='memberEmail']").value;
        const email = document.querySelector("[name='email']").value
        const memberEmail = mEmail + "@" + email;
        const idckeck = document.querySelector("[name='email-check']");
        const regex = /^[가-힣\sㄱㄲㄴㄷㄸㄹㅁㅂㅃㅅㅆㅇㅈㅉㅊㅋㅌㅍㅎ]+$/;
        if(memberEmail.length == 0) {
            idckeck.innerHTML = "";
        }else{
            if (regex.test(mEmail) && memberEmail.length > 0 || regex.test(email) && memberEmail.length > 0) {
                idckeck.innerHTML = "이메일: 5~20자의 영문 소문자, 특수문자만 가능합니다.";
                idckeck.style.color = "red";
            }else{
                idckeck.innerHTML = "";
                if(mEmail.length > 0 && email.length > 0) {
                    $.ajax({
                        type: "get",
                        data: {
                            memberEmail
                        },
                        url: "/member/emailCheck",
                        success: function (data) {
                            idc = 1;
                            idckeck.innerHTML = "중복된 이메일입니다.";
                            idckeck.style.color = "red";
                        }, error: function (data) {
                            console.log(idc)
                            idc = 0;
                            idckeck.innerHTML = "올바른 이메일입니다.";
                            idckeck.style.color = "blue";
                        }
                    })
                }
            }
        }
    }


    function confirm_fn () {
        const mEmail = document.querySelector("[name='memberEmail']").value;
        const email = document.querySelector("[name='email']").value
        const memberEmail = mEmail + "@" + email;
        const confirmcheck = document.getElementById("confirm-check");
        const notFind = document.querySelector("#not-find");
        const rays = document.querySelector("#rays");
        notFind.style.display = "none";
        rays.style.display = "none";
        const button = document.querySelector("#button");
        button.style.display = "block";
        if(mEmail=="" || email=="") {
            confirmcheck.innerText = "이메일을 입력해주세요.";
            confirmcheck.style.color = "red";
        }else if(idc ==0 && mEmail != "" && email != ""){
            $("#modal_email").modal("show");
            $.ajax({
                type:"post",
                url:"/member/emailConfirm",
                data: {
                    memberEmail
                },
                success:function (data){
                    setTimeout(function() {
                        button.style.display = "none";
                        rays.style.display = "block";
                    }, 1000);
                    setTimeout(function() {
                        $("#modal_email").modal("hide");
                        emailc = 0;
                        confirmcheck.innerText = "";
                        number= data;
                    }, 3000);
                }
            })
        }else if(idc!=0){
            console.log(idc)
            confirmcheck.innerText = "이메일이 중복되었습니다.";
            confirmcheck.style.color = "red";
        }else{
            confirmcheck.innerText = "";
        }
    }

    function con_fn () {
        const confirm = document.querySelector("[name='confirm']").value
        const confirmcheck = document.getElementById("confirm-check");
        if(confirm == number){
            emailc = 2;
            confirmcheck.innerText = "인증성공";
            confirmcheck.style.color = "blue";
        }else if(confirm.length > 0 && emailc==0){
            if(confirm == number){
                emailc = 2;
                confirmcheck.innerText = "인증성공";
                confirmcheck.style.color = "blue";
            }else{
                confirmcheck.innerText = "인증번호가 틀렸습니다.";
                confirmcheck.style.color = "red";
            }
        }else if(confirm.length ==0){
            emailc = 1;
            confirmcheck.innerText = "";
        }else{
            confirmcheck.innerText = "이메일 입력 후 인증 진행해주세요.";
            confirmcheck.style.color = "red";
        }
    }


    //회원가입
    function save_fn() {
        if(kakao==0){
            const savecheck = document.getElementById("save-check");
            const mEmail = document.querySelector("[name='memberEmail']").value;
            const email = document.querySelector("[name='email']").value
            const memberName = document.querySelector("[name='memberName']").value;
            const nickName = document.querySelector("[name='nickName']").value;
            const memberMobile = document.querySelector("[name='memberMobile']").value;
            const memberAddress = document.querySelector("[name='memberAddress']").value;
            const memberBirth = document.querySelector("[name='memberBirth']").value;
            const kakao = document.querySelector("[name='kakao']").value;
            const memberEmail = mEmail + "@" + email;
            if(mEmail=="" || email==""){
                savecheck.innerText = "이메일 입력해주세요."
                savecheck.style.color = "red"
            }else if(nickName ==""){
                savecheck.innerText = "닉네임 확인바람."
                savecheck.style.color = "red"
            }else if(nickc!=0){
                savecheck.innerText = "닉네임 중복체크해주세요."
                savecheck.style.color = "red"
            }else if(namec!=0 || memberName==""){
                savecheck.innerText = "이름 확인바람."
                savecheck.style.color = "red"
            }else if(memberMobile==""){
                savecheck.innerText = "연락처를 입력해주세요"
                savecheck.style.color = "red"
            }else{
                savecheck.innerText = ""
                $.ajax({
                    type:"post",
                    url:"/member/save",
                    data:{
                        kakao, memberEmail, memberBirth, memberName, memberMobile, memberAddress, nickName
                    },
                    success:function(data){
                        location.href="/member/login";
                    }
                })
            }
        }else{
            console.log("2")
            const savecheck = document.getElementById("save-check");
            const mEmail = document.querySelector("[name='memberEmail']").value;
            const email = document.querySelector("[name='email']").value
            const memberName = document.querySelector("[name='memberName']").value;
            const nickName = document.querySelector("[name='nickName']").value;
            const memberMobile = document.querySelector("[name='memberMobile']").value;
            const memberPassword = document.querySelector("[name='memberPassword']").value;
            const memberPass= document.querySelector("[name='memberPass']").value;
            const memberAddress = document.querySelector("[name='memberAddress']").value;
            const memberBirth = document.querySelector("[name='memberBirth']").value;
            const memberEmail = mEmail + "@" + email;
            if(mEmail=="" || email==""){
                savecheck.innerText = "이메일 입력해주세요."
                savecheck.style.color = "red"
            }else if(idc!=0){
                savecheck.innerText = "이메일 중복체크해주세요."
                savecheck.style.color = "red"
            }else if(emailc!=2){
                savecheck.innerText = "이메일 인증해주세요."
                savecheck.style.color = "red"
            }else if(memberPassword =="" && kakao!=0 || memberPass ==""){
                savecheck.innerText = "비밀번호를 입력해주세요"
                savecheck.style.color = "red"
            }else if(pwc!=0){
                savecheck.innerText = "비밀번호 확인바람."
                savecheck.style.color = "red"
            }else if(nickName ==""){
                savecheck.innerText = "닉네임 확인바람."
                savecheck.style.color = "red"
            }else if(nickc!=0){
                savecheck.innerText = "닉네임 중복체크해주세요."
                savecheck.style.color = "red"
            }else if(namec!=0 || memberName==""){
                savecheck.innerText = "이름 확인바람."
                savecheck.style.color = "red"
            }else if(memberMobile==""){
                savecheck.innerText = "연락처를 입력해주세요"
                savecheck.style.color = "red"
            }else{
                console.log(memberEmail, memberBirth, memberPassword, memberName, memberMobile, memberAddress, nickName)
                savecheck.innerText = ""
                $.ajax({
                    type:"post",
                    url:"/member/save",
                    data:{
                        memberEmail, memberBirth, memberPassword, memberName, memberMobile, memberAddress, nickName
                    },
                    success:function(data){
                        location.href="/member/login";
                    }
                })
            }
        }
    }



    //비밀번호 정규식체크
    function pw_fn () {
        const pw = document.querySelector("[name='memberPass']").value;
        const memberPassword = document.querySelector("[name='memberPassword']").value;
        const pckeck = document.getElementById("pw-check");
        const pscheck = document.getElementById("ps-check");
        const regex = /^(?=.*[a-z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]+$/;
        if (memberPassword.length == 0) {
            pckeck.innerHTML = "";
            pscheck.innerHTML = "";
        }else{
            if (regex.test(memberPassword) && memberPassword.length > 0) {
                pckeck.innerHTML = "올바른 비밀번호입니다.";
                pckeck.style.color = "blue";
            } else if(memberPassword.length >0){
                pckeck.innerHTML = "영소문자, 특수문자, 숫자가 포함되어야합니다.";
                pckeck.style.color = "red";
            }
        }
        if(memberPassword.length >0 && pw.length > 0 && pw==memberPassword){
            pwc=0;
            pscheck.innerHTML = "비밀번호가 일치합니다.";
            pscheck.style.color = "blue";
        }else if(pw.length>0 && memberPassword.length >0){
            pwc=1;
            pscheck.innerHTML = "비밀번호가 일치하지않습니다.";
            pscheck.style.color = "red";
        }
    }

    //비밀번호 재확인
    function ps_fn() {
        const memberPassword = document.querySelector("[name='memberPassword']").value;
        const memberPass = document.querySelector("[name='memberPass']").value;
        const pscheck = document.getElementById("ps-check");
        const pckeck = document.getElementById("pw-check");
        const regex = /^(?=.*[a-z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]+$/;
        if(memberPassword.length ==0 || memberPass.length==0 || !(regex.test(memberPassword))){
            pscheck.innerHTML = "";
        }else{
            if(memberPassword.length >0 && memberPass.length > 0 && memberPass==memberPassword){
                pwc=0;
                pscheck.innerHTML = "비밀번호가 일치합니다.";
                pscheck.style.color = "blue";
            }else{
                pwc=1;
                pscheck.innerHTML = "비밀번호가 일치하지않습니다.";
                pscheck.style.color = "red";
            }
            if (regex.test(memberPassword) && memberPassword.length > 0) {
                pckeck.innerHTML = "올바른 비밀번호입니다.";
                pckeck.style.color = "blue";
            } else if(memberPassword.length >0){
                pckeck.innerHTML = "영소문자, 특수문자, 숫자가 포함되어야합니다.";
                pckeck.style.color = "red";
            }
        }
    }


    nick_fn();
    //닉네임 중복체크
    function nick_fn() {
        const nickName = document.querySelector("[name='nickName']").value;
        const ncheck = document.getElementById("nick-check");
        const regex = /^[가-힣a-zA-Z]+$/;
        if(nickName.length==0){
            ncheck.innerHTML="";
        }else{
            if(regex.test(nickName) && nickName.length > 0){
                ncheck.innerHTML="";
                $.ajax({
                    type: "get",
                    data: {
                        nickName
                    },
                    url: "/member/nicknameCheck",
                    success: function (data) {
                        nickc = 1;
                        ncheck.innerHTML = "중복된 닉네임입니다.";
                        ncheck.style.color = "red";
                    }, error: function (data) {
                        nickc = 0;
                        ncheck.innerHTML = "사용 가능한 닉네임입니다.";
                        ncheck.style.color = "blue";
                    }
                })
            }else{
                nickc=1;
                ncheck.innerHTML = "영대소문자 한글만 가능합니다.";
                ncheck.style.color = "red";
            }
        }
    }


    //이름 정규식
    function name_fn () {
        const memberName = document.querySelector("[name='memberName']").value;
        const namecheck = document.getElementById("name-check");
        const regex = /^[가-힣a-zA-Z]+$/;
        if(memberName.length==0){
            namecheck.innerHTML="";
        }else{
            if(regex.test(memberName) && memberName.length > 0){
                namec=0;
                namecheck.innerHTML="";
            }else{
                namec=1;
                namecheck.innerHTML = "영대소문자 한글만 가능합니다..";
                namecheck.style.color = "red";
            }
        }
    }


    //주소찾기

    function sample_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                // document.getElementById('postcode').value = data.zonecode;
                document.querySelector("[name='memberAddress']").value = roadAddr;
                // document.getElementById("jibunAddress").value = data.jibunAddress;

                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                if(roadAddr !== ''){
                    document.querySelector("[name='memberAddress']").value = roadAddr + extraRoadAddr;
                } else {
                    document.querySelector("[name='memberAddress']").value = roadAddr + '';
                }

                var guideTextBox = document.getElementById("guide");
                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                if(data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';

                } else if(data.autoJibunAddress) {
                    var expJibunAddr = data.autoJibunAddress;
                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                    guideTextBox.style.display = 'block';
                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }
            }
        }).open();
    }

</script>
</html>
