<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div class="container">
  <h2 class="text-center mt-5">결제가 완료 되었습니다.</h2>
  <div class="row">
    <form action="" class="card form-control">
      <p class="fw-bold">객실 이름 : [[${info.item_name}]]</p><br/>
      <p class="fw-bold">결제 금액 : [[${info.amount.total}]]</p><br/>
      <p class="fw-bold"> 결제 일시 : [[${info.approved_at}]]</p><br/>
      <input type="button" class="btn btn-dark" th:onclick="paymentSave_fn()" th:value="메인으로">
    </form>
  </div>
</div>
<!--결제일시:     [[${info.approved_at}]]<br/>-->
<!--주문번호:    [[${info.partner_order_id}]]<br/>-->
<!--상품명:    [[${info.item_name}]]<br/>-->
<!--상품수량:    [[${info.quantity}]]<br/>-->
<!--결제금액:    [[${info.amount.total}]]<br/>-->
<!--결제방법:    [[${info.payment_method_type}]]<br/>-->




</body>
<script th:inline="javascript">
  const paymentSave_fn = () =>{
    const totalPrice = [[${info.amount.total}]];
    const paymentAt = [[${info.approved_at}]];
    const paymentBy = [[${info.payment_method_type}]];
    const id = [[${session.memberDTO.getId()}]];
    const reserveId = [[${reserveId}]];
    console.log(totalPrice);
    console.log(paymentBy);
    console.log(paymentAt);

    $.ajax({
      type : "post",
      url : "/payment/save",
      data : {
        memberId: id,
        totalPrice : totalPrice,
        paymentAt : paymentAt,
        paymentBy : paymentBy,
        reserveId
      },
      success : function (data){
        location.href="/";
      },
      error : function (error){
        alert((error));
      }

    });
  }
</script>
</html>