<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/input/payStyle.css}">
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>

<div class="container mt-5 mb-5">
    <h3>객실선택</h3>
    <div class="row">
        <table class="table table-hover">
            <tr>
                <th scope="col">객실 사진</th>
                <th scope="col">객실명</th>
                <th scope="col">이용기간</th>
                <th scope="col">인원</th>
                <th scope="col">방금액</th>
                <th scope="col">추가금액</th>
                <th scope="col">총 결제금액</th>
            </tr>
            <tr>
                <td>
                    <div th:if="${room.fileAttached == 1}" th:each="fileName: ${room.storedFileName}" class="col-4">
                        <img th:src="@{|/upload/${fileName}|}" class="img-fluid mb-3" alt="" width="50" height="30">
                    </div>
                </td>
                <td th:text="${room.roomName}"></td>
                <td th:text="${checkInDate + '~ ' + checkOutDate}"></td>
                <td th:text="${persons}"></td>
                <td th:text="${room.roomPrice}"></td>
                <td th:text="${addPrice}"></td>
                <td th:text="${totalPrice}"></td>
            </tr>
        </table>
    </div>
    <div class="mt-4"><h2>부가서비스 선택</h2></div>
    <div class="row">
        <table class="table table-striped">
            <tr>
                <th scope="col">부가서비스명</th>
                <th scope="col">설명</th>
                <th scope="col">개당 가격</th>
                <th scope="col">수량</th>
            </tr>
            <tr>
                <td>바베큐 전기 그릴 셋트</td>
                <td>야외테라스 및 동앞 마당에서 이용 가능한 전기그릴 셋트입니다.</td>
                <td id="samkyup"></td>
                <td>
                    <select id="select" onchange="samkyup_fn(this.value)">
                        <option value="0" selected>없음</option>
                        <option value="20000">추가</option>
                    </select>
                </td>
            </tr>
        </table>
        <div class="mt-4"><h2>사용가능쿠폰</h2></div>
        <table class="table table-striped">
            <tr>
                <th scope="col" class="col-fixed">쿠폰명</th>
                <th scope="col" class="col-fixed">할인가격</th>
                <th scope="col" class="col-fixed">사용가능기간</th>
                <th scope="col" class="col-fixed">쿠폰 선택</th>
            </tr>
            <tr>
                <td id="couponName" class="col-fixed"></td>
                <td id="couponSale" class="col-fixed"></td>
                <td id="couponDate" class="col-fixed"></td>
                <td>
                    <select id="couponSelect" onchange="coupon_fn(this.value)">
                        <option value="">사용가능한 쿠폰 선택</option>
                        <th:block th:if="${#lists.isEmpty(couponList)}">
                            <option>사용가능한 쿠폰이 없습니다.</option>
                        </th:block>
                        <th:block th:each="coupon : ${couponList}">
                            <option th:if="${coupon.id > 0}" th:value="${coupon.id}"
                                    th:text="${coupon.couponName}"></option>
                        </th:block>
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <div class="mt-4"><h2>약관동의</h2></div>
    <div class="row">
        <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
            개인정보 동의 약관서
        </button>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                Some placeholder content for the collapse component. This panel is hidden by default but revealed when
                the user activates the relevant trigger.
            </div>
        </div>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            (필수) 동의 합니까?
        </label>
    </div>
    <div class="row">
        <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1"
                aria-expanded="false" aria-controls="collapseExample1">
            쏼라쏼라 동의서
        </button>
        </p>
        <div class="collapse" id="collapseExample1">
            <div class="card card-body">
                Some placeholder content for the collapse component. This panel is hidden by default but revealed when
                the user activates the relevant trigger.
            </div>
        </div>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
        <label class="form-check-label" for="flexCheckDefault2">
            (필수) 동의 합니까?
        </label>
    </div>
    <div class="row">
        <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2"
                aria-expanded="false" aria-controls="collapseExample2">
            조준상 성욕 감퇴 주사 동의 약관서
        </button>
        </p>
        <div class="collapse" id="collapseExample2">
            <div class="card card-body">
                Some placeholder content for the collapse component. This panel is hidden by default but revealed when
                the user activates the relevant trigger.
            </div>
        </div>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
        <label class="form-check-label" for="flexCheckDefault2">
            (필수) 동의 합니까?
        </label>
    </div>

    <div class="row mt-5">
        <h2>결제수단 선택</h2>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                신용/체크 카드
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
                무통장 입금
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <table class="table table-hover">
                <tr>
                    <th scope="col">객실</th>
                    <th scope="col"></th>
                    <th scope="col">추가인원</th>
                    <th scope="col"></th>
                    <th scope="col">쿠폰할인</th>
                    <th scope="col"></th>
                    <th scope="col">총금액</th>


                </tr>
                <tr>
                    <td type="hidden" ></td>
                    <td id="roomPrice" th:text="${room.roomPrice}" th:value="${room.roomPrice}"></td>
                    <td>+</td>
                    <td id="addPerson" th:text="${addPrice}" th:value="${addPrice}"></td>
                    <td>-</td>
                    <td id="sale"></td>
                    <td>=</td>
                    <td id="sum" th:text="${room.roomPrice+addPrice}" th:value="${room.roomPrice+addPrice}"></td>



                </tr>
            </table>
            <table class="table table-hover">
                <tr>
                    <th scope="col">부가서비스(현장결제)</th>
                </tr>
                <tr>
                    <td id="add"></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img src="https://t1.daumcdn.net/kakaopay/brand_site/img/og/kakaopay_og_20201217.png" alt=""
                 class="img-fluid mb-3" width="100" height="50">
        </div>
        <form method="post" action="/kakaoPay">
            <input type="hidden" name="memberId" th:value="${session.memberDTO.getId()}">
            <input type="hidden" name="memberName" th:value="${session.memberDTO.getMemberName()}">
            <input type="hidden" name="checkInDate" th:value="${checkInDate}">
            <input type="hidden" name="checkOutDate" th:value="${checkOutDate}">
            <input type="hidden" name="roomId" th:value="${room.id}">
            <input type="hidden" name="persons" th:value="${persons}">
            <input type="hidden" name="roomName" th:value="${room.roomName}">
            <input type="hidden" name="totalPrice" th:value="${totalPrice}">
            <button>카카오페이로 결제하기</button>
        </form>
    </div>
</div>


</body>
<script th:inline="javascript">
    // 방값
    const roomPriceAny = [[${room.roomPrice}]]
    const roomPriceString = roomPriceAny.toString();
    const roomPriceInt = parseInt(roomPriceString);
    // 추가인원
    const addPerson = document.getElementById("addPerson");
    // 바베큐값
    const samkyup = document.getElementById("samkyup");
    // 쿠폰값
    const couponName = document.getElementById("couponName");
    const couponSale = document.getElementById("couponSale");
    const couponDate = document.getElementById("couponDate");
    // 총값
    const add = document.getElementById("add");
    const sale = document.getElementById("sale");
    const sum = document.getElementById("sum");



    const samkyup_fn = (id) => {

        add.innerHTML = id;
        samkyup.innerHTML = id;
        if (sale.textContent != "") {
            sum.innerHTML = parseInt(addPerson.textContent) + roomPriceInt - parseInt(couponSale.textContent);
        } else {
            sum.innerHTML = parseInt(addPerson.textContent) + roomPriceInt;
        }
    }


    const coupon_fn = (id) => {
        if (id == "") {
            couponName.innerHTML = "";
            couponSale.innerHTML = "";
            couponDate.innerHTML = "";
            sale.innerHTML = "";
        } else {
            axios({
                url: `/reserve/coupon/${id}`,
                method: "post",
            }).then(res => {
                couponName.innerHTML = res.data.couponName;
                couponSale.innerHTML = res.data.couponSale;
                couponDate.innerHTML = res.data.startDate + "~" + res.data.endDate;
                sale.innerHTML = res.data.couponSale;

                sum.innerHTML = parseInt(addPerson.textContent) + roomPriceInt - parseInt(couponSale.textContent);

            }).catch(err => {
                alert(err);
            });
        }
    }

    t
    const selectElemen = document.getElementById("mySelect");

    // <select> 요소에 대한 변경 이벤트를 추가합니다.
    selectElement.addEventListener("change", function () {
        // 선택한 옵션의 값을 가져옵니다.
        const selectedOption = selectElement.value;

        // 선택한 옵션에 따라 실행할 함수를 호출합니다.
        if (selectedOption === "0") {
            // 선택한 옵션이 0일 때 실행할 함수 호출
            myFunctionForOption0();
        } else if (selectedOption === "1") {
            // 선택한 옵션이 1일 때 실행할 함수 호출
            myFunctionForOption1();
        }
    });

    // 선택한 옵션이 0일 때 실행할 함수
    function myFunctionForOption0() {
        // 이곳에 원하는 작업을 수행하는 코드를 추가합니다.
        const extra = document.getElementById("extra");
        const extra2 = document.getElementById("extra2");
        extra.innerHTML = "0";
        extra2.innerHTML = "0";
    }

    // 선택한 옵션이 1일 때 실행할 함수
    function myFunctionForOption1() {
        // 이곳에 원하는 작업을 수행하는 코드를 추가합니다.
        const extra = document.getElementById("extra");
        const extra2 = document.getElementById("extra2");
        extra.innerHTML = "20000";
        extra2.innerHTML = "20000";
    }

    // const coupon_fn = (id) => {
    //     console.log(id);
    //
    // }


</script>
</html>