<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
<!--    풀켈린더 dateFormat 용 라이브러리-->
    <script class="cssdesk" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.0/moment.min.js" type="text/javascript"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
</head>
<body>
<!--<div th:replace="~{component/nav :: nav}"></div>-->

<div class="container mt-5 mb-5">
    <div id="calendar"></div>

</div>

<!--<div th:replace="~{component/footer :: footer}"></div>-->

</body>
<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        let today = new Date();
        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugin : ['interaction', 'dayGrid'], // 클릭,드래그, 이벤트 감지 interaction / daygrid 달력그리기
            initialView: 'dayGridMonth',
            height: '500px', // calendar 높이 설정
            expandRows: true, // 화면에 맞게 높이 재설정
            navLinks: false, // 날짜를 선택하면 Day 캘린더나 Week 캘린더로 링크
            editable: true, // 수정 가능?
            locale: "ko", //한국어
            selectable: true,// 달력 일자 드래그 설정가능
            nowIndicator: true, // 현재 시간 마크
            eventClick: function(info) {
                if (confirm("이벤트를 삭제하시겠습니까?")) {
                    info.event.remove(); // 이벤트 삭제
                }
            },
            select: function(arg) { // 캘린더에서 드래그로 이벤트를 생성할 수 있다.
                // 예약일, 투데이 Format
                let dt_start = moment(arg.start).format('YYYYMMDD'); // ajax으로 보낼 예약 시작값
                let dt_end = moment(arg.end).format('YYYYMMDD'); // ajax으로 보낼 예약 종료값

                let year = today.getFullYear().toString(); // 년도
                let month = today.getMonth() +1;  // 월 getMonth 는 0~11월 출력하기때문에 +1
                let date = today.getDate().toString();  // 날짜
                let dt_date = year+month+date;

                if(dt_start>=dt_date){  // 예약 시작일이 투데이보다 크거나 같음
                    var allEvents = calendar.getEvents();
                    allEvents.forEach(function(event) {
                        event.remove();  // 모든 테이블 삭제
                    });
                    var title = "삭제버튼"
                    if (title) {
                        calendar.addEvent({ //이벤트추가
                            title: title,
                            start: arg.start,
                            end: arg.end,
                            allDay: arg.allDay
                        })
                        $.ajax({
                            type:"get",
                            url:"/reserve/list",
                            data:{
                                checkInDate:dt_start,
                                checkOutDate:dt_end,
                            },success:function(data){
                                console.log(data)
                            }
                        });
                    }
                }else{
                    alert("과거는 불가능합니다.")
                }
                calendar.unselect() //??
            },
        });
        calendar.render(); // 캘린더 다시불러오기
    });
</script>
</html>