body {
    margin-left: 150px;
    margin-right: 150px; /* 페이지 전체 여백 설정 */
    margin-top: 30px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
}

.image-item {
    flex: 0 0 calc(33.33% - 10px); /* 3개의 열, 간격 제외한 너비 계산 */
    margin: 5px; /* 이미지 간격 조절 */
    text-align: center; /* 이미지 가운데 정렬 */
}

.image {
    /*max-width: 150%; !* 이미지의 최대 너비를 더 크게 조절 *!*/
    height: auto; /* 가로세로 비율 유지 */
    display: block; /* inline 요소 간 여백 제거 */
    margin: 0 auto; /* 이미지 중앙 정렬 */
    width: 350px;
    cursor: pointer;
}