<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sideBar" id="sideBar">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/sideBar.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <title>호텔 예약 사이트</title>
</head>
<body>

<!-- Sidebar -->
<div class="sidebar">
  <h2>Menu</h2>
  <a href="/" class="sidebar-link">
    <div class="sidebar-icon">
      <i class="fas fa-home"></i>
      <span class="sidebar-text">메인페이지</span>
    </div>
  </a>
  <a href="/board/review" class="sidebar-link">
    <div class="sidebar-icon">
      <i class="fas fa-star"></i>
      <span class="sidebar-text">리뷰 목록</span>
    </div>
  </a>
  <a href="/board/notice" class="sidebar-link">
    <div class="sidebar-icon">
      <i class="fas fa-bullhorn"></i>
      <span class="sidebar-text">공지사항 목록</span>
    </div>
  </a>
  <a href="/reserve" class="sidebar-link">
    <div class="sidebar-icon">
      <i class="fas fa-calendar-alt"></i>
      <span class="sidebar-text">예약하기</span>
    </div>
  </a>
</div>

</body>
</html>
