<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/button/button.css}">
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/nav :: nav}"></div>
<h1>회원목록 출력</h1>
<div class="container mt-5 mb-5">
    <div id="search-area" class="mt-5">
        <!-- 검색 폼 -->
        <form action="/admin/manage" method="get">
            <select id="listCount" name="listCount" value="${listCount}">
                <option value="5" selected>글 개수</option>
                <option value="3">3개씩 보기</option>
                <option value="5">5개씩 보기</option>
                <option value="10">10개씩 보기</option>
                <option value="15">15개씩 보기</option>
                <option value="20">20개씩 보기</option>
            </select>
            <input id="q" type="text" name="q" placeholder="이름을 입력하세요">
            <input type="submit" value="검색">

        </form>
    </div>
    <table class="table table-hover text-center mt-3">
        <tr>
            <th scope="col">회원번호</th>
            <th scope="col">작성자명</th>
            <th scope="col">작성자이메일</th>
            <th scope="col">닉네임</th>
            <th scope="col">쿠폰발급</th>
        </tr>
        <!-- 각 행에 대한 Thymeleaf 반복 -->
        <tr th:each="member : ${memberList}">
            <td th:text="${member.id}"></td>
            <td th:text="${member.memberName}"></td>
            <td th:text="${member.memberEmail}"></td>
            <td th:text="${member.nickName}"></td>
            <!-- 버튼을 클릭하여 모달 표시 -->
            <td>
                <button id="jelly" class="btn btn-warning" data-bs-toggle="modal" th:attr="data-bs-target='#modal-'+${member.id}"><span>쿠폰발급</span></button>
            </td>
        </tr>
    </table>
    <!--                -->

    <!--                <button type="button" class="btn btn-outline-danger btn-layer-2_4" data-bs-toggle="modal" th:attr="data-bs-target='#modal-'+${member.id}">쿠폰 발급-->
    <!--                    <i class="fa fa-check"></i>-->
    <!--                </button>-->
</div>

<!-- 각 멤버에 대한 모달 창 -->
<div th:each="member : ${memberList}">
    <div class="modal fade" th:id="'modal-'+${member.id}" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">쿠폰 발급</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- 쿠폰 발급 폼 -->
                    <form action="/admin/coupon/save" method="post" id="save_form">
                        쿠폰 이름 : <input type="text" name="couponName" id="couponName">
                        할인 가격 : <input type="text" name="couponSale" id="couponSale" oninput="isNumber(this);"><br>
                        <p id="couponNameCheck"></p>
                        유효기간 시작일 : <input type="date" name="startDate" id="startDate">
                        유효기간 종료일 : <input type="date" name="endDate" id="endDate"><br>
                        <input type="hidden" name="memberId" th:value="${member.id}">
                        <input type="hidden" name="serialNum" id="serialNum"><br>
                        <input type="hidden" name="couponStatus" id="couponStatus" value="1">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button"  th:onclick="coupon_fn([[${member.id}]])">쿠폰발급</button>
                    <button type="button"  data-bs-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <!--첫페이지 요청 링크 /board?page=1 -->
            <a class="page-link" th:href="@{/admin/manage(page=1, q=${q})}">
                <span>First</span>
            </a>
        </li>

        <li th:class="${memberList.first} ? 'disabled'" class="page-item">
            <!--boardList.first: isFirst()
                boardList.number: getNumber()-->
            <!-- 현재 페이지가 첫페이지라면 링크값을 #으로 아니면 /board?page=number 로  -->
            <a class="page-link"
               th:href="${memberList.first} ? '#' : @{/admin/manage(page=${memberList.number}, q=${q})}">
                <!-- 사용자 3페이지, number 2 /board?page=2 -->
                <span><</span> <!-- < -->
            </a>
        </li>

        <!-- startPage ~ endPage 까지 숫자를 만들어주는 역할
            for(int page=startPage; page<=endPage; page++) -->
        <li th:each="page: ${#numbers.sequence(startPage, endPage)}"
            th:class="${page == memberList.number + 1} ? 'page-item active'" class="page-item">
            <a class="page-link" th:text="${page}" th:href="@{/admin/manage(page=${page}, q=${q})}"></a>
        </li>

        <!-- 다음 페이지 요청
            현재 3페이지를 보고 있다면 다음 페이지는 4페이지임.
            getNumber() 값은 2임.
            따라서 4페이지를 보고 싶다면 getNumber()+2를 해야 컨트롤러에 4를 요청할 수 있음. -->
        <li th:class="${memberList.last} ? 'disabled'">
            <a class="page-link"
               th:href="${memberList.last} ? '#' : @{/admin/manage(page=${memberList.number + 2}, q=${q})}">
                <!-- 사용자 3페이지, number 2 /board?page=4 -->
                <span>&gt;</span>
            </a>
        </li>

        <li class="page-item">
            <a class="page-link" th:href="@{/admin/manage(page=${memberList.totalPages}, q=${q})}">
                <span>Last</span>
            </a>
        </li>
    </ul>
</div>
</div>
</div>
</body>
<script th:inline="javascript">
    const coupon_fn = (id) => {
        const regexHangle = /^[가-힣\sㄱㄲㄴㄷㄸㄹㅁㅂㅃㅅㅆㅇㅈㅉㅊㅋㅌㅍㅎ]+$/;
        const regexNumber = /^[0-9]+$/;
        const regexNumEn = /^[a-z|A-Z|0-9|]+$/;


        const saveForm = document.getElementById("save_form")
        const name = document.getElementById("couponName").value;
        const sale = document.getElementById("couponSale").value;
        const startDate = document.getElementById("startDate").value;
        const endDate = document.getElementById("endDate").value;
        const serialNum = document.getElementById("serialNum").value;
        const couponNameCheck = document.getElementById("couponNameCheck");

        if (name != "" && sale != "" && startDate != "" && endDate != "") {
            if (startDate <= endDate) {
                if (regexHangle.test(name) == true) {
                    serialNum.value = Math.random().toString(36).substring(2, 12);
                    alert("해당 회원에게 쿠폰이 발급되었습니다.")
                    saveForm.submit();
                } else {
                    couponNameCheck.innerHTML = "한글만 입력이 가능합니다";
                    couponNameCheck.style.color = "red";
                }
            } else {
                alert("유효기간 확인바랍니다.")
            }
        } else {
            alert("빈칸을 채워주세요.")
        }
    }
    let randomStr = Math.random().toString(36).substring(2, 12);


    function isNumber(item) { // 숫자 정규식
        item.value = item.value.replace(/[^0-9]/g, '');
    }
</script>
</html>
