<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<h1>예약관리 화면출력</h1>
</body>
<div>
    <table>

        <tr>
            <td>회원 이름</td>
            <td>방 이름</td>
            <td>방 타입</td>
            <td>결제 가격</td>
            <td>기준인원</td>
            <td>수용인원</td>
            <td>예약인원</td>
            <td>체크인 일자</td>
            <td>체크아웃 일자</td>
        </tr>


        <tr th:each="reserve : ${memberReserveList}" >
            <td th:text="${reserve.memberName}"></td>
            <td th:text="${reserve.roomDTO.roomName}"></td>
            <td th:text="${reserve.roomDTO.roomType}"></td>
            <td th:text="${reserve.roomDTO.roomPrice}"></td>
            <td th:text="${reserve.roomDTO.standardPerson}"></td>
            <td th:text="${reserve.roomDTO.capacity}"></td>
            <td th:text="${reserve.persons}"></td>
            <td th:text="${reserve.checkInDate}"></td>
            <td th:text="${reserve.checkOutDate}"></td>
        </tr>
    </table>
</div>
</html>