#nav-style body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}


#nav-style h1 {
    margin: 2em 0 1.5em 0;
}

#nav-style nav {
    opacity: 80%;
    width: 100%;
    height: 0px;
    display: flex;
    position: absolute;
    background-color: white;
    justify-content: center;
    top: 0; /* 상단에 위치 */
    left: 0; /* 좌측에 위치 */
    right: 0; /* 우측에 위치 */
    z-index: 2; /* 다른 요소 에 위치 */
    transition: height 0.4s ease; /* 높이 변경 시 애니메이션 적용, 원하는 지속 시간 및 이징 함수를 설정하세요. */
}

#nav-style nav:hover {
    height: 450px; /* 호버 시 높이 변경 */
}

#nav-style ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}


#nav-style #div-menu{
    opacity: 80%;
    width: 5000px;
}

#nav-style  #main-menu > li:hover {
    height: 200px;
}

#nav-style #main-menu > li {
    float: left;
    position: relative;
}

#nav-style #main-menu > li > a {
    font-weight: normal;
    font-size: 0.85rem;
    color: black;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.05em;
    display: block;
    padding: 14px 50px;
}

#nav-style .sub-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s ease-in;
}

#nav-style .sub-menu > li {
    padding: 20px 50px;
}

#nav-style #main-menu > li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
}


#nav-style .sub-menu  >  li > a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 1100px) {
    #nav-style #main-menu > li > a {
        padding: 14px 10px;
    }
    #nav-style .sub-menu > li {
        padding: 16px 10px;
    }

}

@media screen and (min-width: 2000px) {
    #nav-style #main-menu > li > a {
        padding: 14px 120px;
    }

    #nav-style .sub-menu > li {
        padding: 16px 120px;
    }
}

@media screen and (min-width: 3000px) {
    #nav-style #main-menu > li > a {
        padding: 14px 250px;
    }

    #nav-style .sub-menu > li {
        padding: 16px 250px;
    }
}

/* 밑줄 */

.stretch .str::after {position: absolute; content:""; display: block; border-bottom: 3px solid #000; transition: width 250ms ease-in-out; left: auto; width: 0;}
.stretch .str:hover::after {width: 100%;} {h: 100%;}
