<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>카카오페이</h2>
<div class="row">
    <div>
        <button id="apibtn" onclick="kakao_fn()" class="btn btn-warning">카카오 페이</button>
    </div>
</div>
</body>
<script>
    const kakao_fn = () => {
        $.ajax({
            type:"post",
            url: "/jq/kakaopay.cls",
            dataType: "json",
            success: function (data) {
                let box = data.next_redirect_pc_url;
                window.open(box);
            },
            error: function (error) {
                alert((error));
            }
        });


    }


</script>
</html>