<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/nav :: nav}"></div>

<div class="container mt-5 mb-5">
  <!-- 화면에 보여질 내용이 들어갈 부분 -->
  <h2 class="text-center mb-3">쿠폰 리스트</h2>
  <table class="table table-hover">
    <tr>
      <th scope="col">쿠폰이름</th>
      <th scope="col">일련번호</th>
      <th scope="col">할인금액</th>
      <th scope="col">시작일</th>
      <th scope="col">만료일</th>
    </tr>
    <tr th:each="coupon :${couponList}">
      <td th:text="${coupon.couponName}"></td>
      <td th:text="${coupon.serialNum}"></td>
      <td th:text="${coupon.couponSale}"></td>
      <td th:text="${coupon.startDate}"></td>
      <td th:text="${coupon.endDate}"></td>
    </tr>
  </table>


</div>
  <!--<div th:replace="~{component/footer :: footer}"></div>-->
</body>
<script>
</script>
</html>