<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<!--<div th:replace="~{component/nav :: nav}"></div>-->

<div class="container mt-5 mb-5">
  <!-- 화면에 보여질 내용이 들어갈 부분 -->
  <h2>회원정보</h2>
  <form action="" class="card">
    <input type="hidden" name="id" th:value="${member.id}">
    이메일 : <input class="rounded" type="text" name="memberEmail" th:value="${member.memberEmail}" readonly><br>
    이름 : <input class="rounded" type="text" name="memberName" th:value="${member.memberName}" readonly><br>
    별명 : <input class="rounded" type="text" name="nickName" th:value="${member.nickName}" readonly><br>
    전화번호 : <input class="rounded" type="text" name="memberMobile" th:value="${member.memberMobile}"><br>
    생일 : <input class="rounded" type="text" name="memberBirth" th:value="${member.memberBirth}"><br>
    주소 : <input class="rounded" type="text" name="memberAddress" th:value="${member.memberAddress}" readonly><br>
    <input class="btn btn-dark" type="button" th:onclick="update_fn()" th:value="수정">
  </form>
  <div class="mt-3">
    <a th:href="@{|/myPages/change/${member.id}|}">비밀번호 변경</a>
  </div>



</div>

  <!--<div th:replace="~{component/footer :: footer}"></div>-->

</body>
<script>
  const update_fn = () =>{
    const id = document.querySelector('[name="id"]').value;
    const memberEmail = document.querySelector('[name="memberEmail"]').value;
    const memberName = document.querySelector('[name="memberName"]').value;
    const nickName = document.querySelector('[name="nickName"]').value;
    const memberMobile = document.querySelector('[name="memberMobile"]').value;
    const memberBirth = document.querySelector('[name="memberBirth"]').value;
    const memberAddress = document.querySelector('[name="memberAddress"]').value;

    $.ajax({
      type:"post",
      url : "/myPages",
      data:{
        id: id,
        memberEmail : memberEmail,
        memberName : memberName,
        nickName : nickName,
        memberMobile: memberMobile,
        memberBirth : memberBirth,
        memberAddress : memberAddress
      },
      success:function (data){
        alert("수정 완료");
        location.href="/myPages";
      }
    })
  }
</script>
</html>