<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{component/config :: config}"></th:block>

</head>
<body>
<div th:replace="~{component/nav :: nav}"></div>

<div class="container mt-5 mb-5">
  <!-- 화면에 보여질 내용이 들어갈 부분 -->
  <h2 class="text-center mb-3">리뷰 수정</h2>
  <form action="/myPages/review/update/" method="post" class="form-control">
    <input type="hidden" name="id" th:value="${review.id}"><br>
    작성자 : <input class="rounded" type="text" name="reviewWriter" th:value="${review.reviewWriter}" readonly><br>
    제목 : <input class="rounded" type="text" name="reviewTitle" th:value="${review.reviewTitle}"><br>
    평점 : <input class="rounded" type="number" name="reviewStar" th:value="${review.reviewStar}"><br>
    <textarea name="reviewContents"  cols="30" rows="10" th:text="${review.reviewContents}"></textarea><br>
    <input type="button" th:onclick="update_fn()" class="btn btn-dark" th:value="수정">
    <input type="button" th:onclick="list_fn()" class="btn btn-success"  th:value="목록으로">
  </form>
</div>

<!--<div th:replace="~{component/footer :: footer}"></div>-->

</body>
<script>
  const update_fn =() =>{
    const id = document.querySelector('[name="id"]').value;
    const reviewWriter = document.querySelector('[name="reviewWriter"]').value;
    const reviewTitle = document.querySelector('[name="reviewTitle"]').value;
    const reviewContents = document.querySelector('[name="reviewContents"]').value;
    $.ajax({
      type:"put",
      url : "/myPages/review",
      data:{
        id: id,
        reviewWriter: reviewWriter,
        reviewTitle : reviewTitle,
        reviewContents : reviewContents
      },
      success:function (data){
        location.href="/myPages/review";
      }
    })
  }

  const list_fn = () => {
    location.href="/myPages/review";
  }

  $(document).ready(function() {
    $('textarea[name="reviewContents"]').summernote({
      height: 200,
      toolbar: [
        // [groupName, [list of button]]
        ['style', ['bold', 'italic', 'underline', 'clear']],
        ['font', ['strikethrough', 'superscript', 'subscript']],
        ['fontsize', ['fontsize']],
        ['color', ['color']],
        ['para', ['ul', 'ol', 'paragraph']],
        ['height', ['height']]
      ]
    });
  });

</script>
</html>