<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/nav :: nav}"></div>

<div class="container mt-5 mb-5">
    <!-- 화면에 보여질 내용이 들어갈 부분 -->
    <form action="/myPages/review/" method="get">
        <div class="row justify-content-end">
            <div class="col-2">
                <div class="input-group">
                    <select class="form-select" name="type">
                        <option value=""></option>
                        <option value="createdAt">등록일</option>
                        <option value="hits">조회수</option>
                    </select>
                    <button class="btn btn-dark" type="submit">검색</button>
                </div>
            </div>
        </div>
    </form>

    <h2 class="text-center mb-3">리뷰 목록</h2>
    <div class="container">
        <table class="table table-hover">
            <tr>
                <th scope="col">작성자</th>
                <th scope="col">제목</th>
<!--                <th scope="col">내용</th>-->
                <th scope="col">별점</th>
                <th scope="col">작성일</th>
                <th scope="col">조회수</th>
            </tr>
            <tr th:each="review :${reviewList}">
                <td><a th:href="@{|/myPages/review/${review.id}|}" th:text="${review.reviewWriter}"></a></td>
                <td th:text="${review.reviewTitle}"></td>
<!--                <td th:text="${review.reviewContents}"></td>-->
                <td th:text="${review.reviewStar}"></td>
                <td th:text="${review.createdAt}"></td>
                <td th:text="${review.hits}"></td>
            </tr>
        </table>
    </div>
</div>

<!--<div th:replace="~{component/footer :: footer}"></div>-->

</body>
</html>