<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<!--<div th:replace="~{component/nav :: nav}"></div>-->

<div class="container mt-5 mb-5">
    <h2>상세정보</h2>
    <!-- 화면에 보여질 내용이 들어갈 부분 -->
    <div class="row">
        <div class="col">
            제목 : <span th:text="${review.reviewTitle}"></span>
        </div>
        <div class="col">
            <div>작성자 : <span th:text="${review.reviewWriter}"></span></div>
            <div>조회수 : <span th:text="${review.hits}"></span></div>
        </div>
        <div>
            <textarea name="" cols="50" rows="10" th:text="${review.reviewContents}" readonly></textarea>
        </div>
        <div class="mt-4">
            <button class="btn btn-success" th:onclick="update_fn([[${review.id}]])">리뷰수정</button>
            <button class="btn btn-danger" th:onclick="delete_fn([[${review.id}]])">리뷰삭제</button>
            <button class="btn btn-dark" th:onclick="list_fn()">목록</button>
        </div>
    </div>

</div>

<!--<div th:replace="~{component/footer :: footer}"></div>-->

</body>
<script>
    const list_fn=()=>{
        location.href="/myPages/review";
    }
    const update_fn = (id) => {
        location.href = `/myPages/review/update/${id}`;
    }

    const delete_fn = (id) => {
        axios({
            method: "delete",
            url: `/myPages/review/${id}`,
        }).then(res => {
            alert("삭제완료");
            location.href = "/myPages/review";
        }).catch(err => {
            alert("삭제실패");
        });
    }
</script>
</html>