<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/sideBar.css}">

    <title>호텔 예약 사이트</title>
    <style>

    </style>
</head>
<body>

<!-- Navigation bar -->
<div class="navbar">
    <a href="#home">Home</a>
    <a href="#reservation">Reservation</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
</div>

<!-- Sidebar -->
<div class="sidebar">
    <h2>MyPage</h2>
    <div class="sidebar-icon">
        <i class="fas fa-comment-dots"></i>
        <span class="sidebar-text">리뷰 작성하기</span>
    </div>
    <div class="sidebar-icon">
        <i class="fas fa-user"></i>
        <span class="sidebar-text">내 정보</span>
    </div>
    <div class="sidebar-icon">
        <i class="fas fa-ticket-alt"></i>
        <span class="sidebar-text">쿠폰함</span>
    </div>
    <div class="sidebar-icon">
        <i class="fas fa-calendar-check"></i>
        <span class="sidebar-text">예약하기</span>
    </div>
</div>

</body>
</html>
